services:
  availability-updater:
    image: ghcr.io/medizininformatik-initiative/dataportal-availability-updater:0.3.0
    environment:
    - ONTO_REPO=${ONTO_REPO:-https://github.com/medizininformatik-initiative/fhir-ontology-generator/releases/download}
    - ONTO_GIT_TAG=${ONTO_GIT_TAG:-v8.3.1}
    - ONTOLOGY_DIR=${ONTOLOGY_DIR:-/opt/availability-updater/elastic_ontology}
    - UPDATE_ONTOLOGY=${UPDATE_ONTOLOGY:-true}
    - AVAILABILITY_INPUT_DIR=${AVAILABILITY_INPUT_DIR:-/opt/availability-updater/availability_input}
    - AVAILABILITY_MASTER_IDENT=${AVAILABILITY_MASTER_IDENT:-"fdpg-data-availability-report-obfuscated"}
    - AVAILABILITY_OUTPUT_DIR=${AVAILABILITY_OUTPUT_DIR:-/opt/availability-updater/availability_output}
    - AVAILABILITY_REPORT_SERVER_BASE_URL=${AVAILABILITY_REPORT_SERVER_BASE_URL:-http://availability-report-store:8080/fhir}
    - ES_BASE_URL=${ES_BASE_URL:-http://availability-dataportal-elastic:9200}
    - MIN_N_REPORTS=${MIN_N_REPORTS:-"3"}
    - ES_INDEX=${ES_INDEX:-ontology}
    - LOGLEVEL=${LOGLEVEL:-INFO}
    # --- Authentication configuration ---
    - USE_OAUTH2=${USE_OAUTH2:-false}
    - OAUTH_TOKEN_URL=${OAUTH_TOKEN_URL:-}
    - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID:-}
    - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET:-}
    - OAUTH_SCOPE=${OAUTH_SCOPE:-}
    - USE_BASIC_AUTH=${USE_BASIC_AUTH:-false}
    - BASIC_USERNAME=${BASIC_USERNAME:-}
    - BASIC_PASSWORD=${BASIC_PASSWORD:-}
    volumes:
      - "./auth:/opt/availability-updater/auth"
  availability-report-store:
    image: "samply/blaze:0.31"
    environment:
      BASE_URL: ${AVAIL_REPORT_STORE:-http://availability-report-store:8080}
      JAVA_TOOL_OPTIONS: "-Xmx2g"
      LOG_LEVEL: ${AVAIL_REPORT_STORE_LOG_LEVEL:-info}
    ports:
      - "8082:8080"
    volumes:
      - "avail-report-store-data:/app/data"
  availability-dataportal-elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.16.1
    container_name: availability-dataportal-elastic
    ports:
      - '9200:9200'
      - '9300:9300'
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1" ]
      interval: 30s
      timeout: 30s
      retries: 3
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xmx512m -Xms512m
      node.name: es01
      cluster.name: elasticsearch
      xpack.security.enabled: false
    volumes:
      - type: volume
        source: avail-dataportal-elastic-data
        target: /usr/share/elasticsearch/data
  availability-init-elasticsearch:
    image: ghcr.io/medizininformatik-initiative/dataportal-es-init:latest
    depends_on:
      availability-dataportal-elastic:
        condition: service_healthy
    environment:
      ES_HOST: http://availability-dataportal-elastic
      ES_PORT: 9200
      ONTO_GIT_TAG: v3.0.2-alpha
      ONTO_REPO: https://github.com/medizininformatik-initiative/fhir-ontology-generator/releases/download
      DOWNLOAD_FILENAME: elastic.zip
      EXIT_ON_EXISTING_INDICES: false

volumes:
  avail-report-store-data:
  avail-dataportal-elastic-data:
    name: "avail-dataportal-elastic-data"